:root{
  --mainColor: #242424;
  --secondary: #007efc;
  --tertiary : #FBFBFB;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--mainColor);
}

body{
   background-color: var(--tertiary);
}

button{
  cursor: pointer;
}