.show{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.hidden{
    display: none;
}

.Menu{
    padding: 1rem 0;

    .ContainerMenu{
        display: flex;
        justify-content: space-between;
        align-items: self-start;

        .logo_user{
            display: flex;
            align-items: center;
            gap: .5rem;

            a{
                display: flex;
                align-self: flex-start;
                
                img{
                    width: 100%;
                    height: 2rem;
                }
            }

            .userLogged{
                display: flex;
                align-items: flex-start;
                gap: .5rem;

                img{
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 50%;
                }

                span{
                    font-size: .9rem;
                    align-self: center;
                }
            }
        }

        nav{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;

            .containerLink_wishlist_cart{     
                display: flex;
                align-self: flex-end;
                gap: .5rem;

                a{
                    display: flex;
                    font-size: 1.6rem;
                    background-color: transparent;
                    border: none;
                    align-self: flex-start;
                }
            }
            
            .ulMenu{
                list-style-type: none;
                gap: .25rem;

                li{
                    a{
                        font-size: 1rem;
                        text-decoration: none;
                    }
                }

                .subMenu{
                    display: flex;
                    align-items: center;
                    border-right: 2px solid var(--secondary);
                    padding-right: .5rem;
                    cursor: pointer;
                }

                .subUlMenu{
                    display: flex;
                    flex-direction: column;
                    list-style-type: none;
                    border-right: 1px solid var(--secondary);
                    padding-right: .5rem;
                    gap: .25rem;
                    
                    li{
                        a{
                            color: gray;
                            font-size: .85rem;
                        }
                    }
                }

                button{
                    background-color: transparent;
                    border: none;
                    color: var(--secondary);
                    font-weight: 600;
                    font-size: 1rem;
                }
            }

            .containerBtn{
                display: flex;
                align-self: flex-start;

                button{
                    background-color: transparent;
                    border: none;
                    font-size: 1.6rem;

                    .btnCloseMenu{
                        display: none;
                    }

                    i{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px){

    .Menu{
        .ContainerMenu{
            img{
                width: 5.5%;
                height: 5.5%;
            }
    
            nav{
                display: flex;
                flex-direction: row-reverse;
                
                .ulMenu{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }
    
                .containerBtn{
                    display: none;
                }
            }
        }
    }
}