.TopProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    gap: .5rem;

    h3{
        font-size: 1.5em;
    }

    .containerTopProducts{
        .topProduct{
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
    
            button{
                display: flex;
                width: fit-content;
                background-color: transparent;
                border: none;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .TopProducts{
        width: 70%;
        align-self: center;
        
        h3{
            font-size: 1.5rem;
        }

        .containerTopProducts{
            .topProduct{        
                button{
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .TopProducts{
        margin: 0rem;
    }
}

@media screen and (min-width: 1500px) {
    .TopProducts{
        .containerTopProducts{
            .topProduct{
                button{
                    font-size: 1.75rem;
                }
            }
        }
    }
}