.CategoryList{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .containerCategory{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .subcontainerCategory{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .containerBtnCategory{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center;

                .btnCategory{
                    width: 9.5rem;
                    text-transform: capitalize;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                    padding: .5rem;
                    font-size: .9rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    border: none;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .CategoryList{    
        .containerCategory{    
            .subcontainerCategory{    
                .containerBtnCategory{    
                    .btnCategory{
                        width: 19.5rem;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }    
}

@media screen and (min-width: 1200px) {
    .CategoryList{
        .containerCategory{
            flex-direction: row;
    
            .subcontainerCategory{
                width: 30%;

                .containerBtnCategory{
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    height: 100%;
    
                    .btnCategory{
                        width: 15rem;
                        padding: 1rem;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}