.CategoryList{
    display: flex;
    flex-direction: column;
    gap: 1rem;  

    .containerCategory{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.25rem;
        gap: .5rem;
        justify-content: center;

        .pageCategory{
            width: 9.3rem;
            text-decoration: none;
            text-transform: capitalize;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
            text-align: center;
            padding: .5rem;
            font-size: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}